body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: cursive;
  background-color: slateblue;
}

.calender-container {
  background-color: white;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.month-name {
  border-radius: 20px 20px 0 0;
  overflow: hidden; /*this is not working some reason so i had to do border raidus for top left and right again here*/
  margin: 0;
  background-color: orangered;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

.day-name {
  font-size: 20px;
  font-weight: 300;
  color: darkgray;
}

.day-number {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.year {
  margin: 20px 0;
  font-size: 20px;
  color: darkgrey;
  font-weight: 500;
}
